@model Product

<h2>@Model.Name</h2>

<div class="thumbnail">
    <img alt="@Model.Name" src="@Model.ImageUrl" />
    <div class="caption-full">
        <h3 class="pull-right">@Model.Price</h3>
        <h3 class="name">
            <a href="#">@Model.Name</a>
        </h3>
        <h4>@Model.ShortDescription</h4>
        <p>@Model.LongDescription</p>
        <div class="size">
            <h3>Size:</h3>
            <input type="radio" id="extraSmall" name="size" />
            <label for="extraSmall">Extra Small</label>
            <input type="radio" id="Small" name="size" />
            <label for="Small">Small</label>
            <input type="radio" id="medium" name="size" />
            <label for="medium">Medium</label>
            <input type="radio" id="large" name="size" />
            <label for="large">Large</label>
            <input type="radio" id="extraLarge" name="size" />
            <label for="extraLarge">Extra Large</label>
        </div>
    </div>
</div>